## @param image.registry Container image registry
## @param image.repository Container image name
## @param image.tag Container image tag
## @param image.digest Container image digest in the way sha256:aa.... Please note this parameter, if set, will override the tag
## @param image.pullPolicy Container image pull policy
## @param image.pullSecrets Specify docker-registry secret names as an array
image:
  registry: "ghcr.io"
  repository: resmoio/kubernetes-event-exporter
  tag: "v1.7"
  digest: ""
  pullPolicy: IfNotPresent
  pullSecrets: []

## Kubernetes event exporter configuration, rendered as a template
## ref: https://github.com/resmoio/kubernetes-event-exporter#configuration
## @param config.logLevel Verbosity of the logs (options: `fatal`, `error`, `warn`, `info` or `debug`)
## @param config.logFormat How the logs are formatted. Allowed values: `pretty` or `json`
## @param config.maxEventAgeSeconds Maximum age of an event in seconds
## @param config.kubeQPS Kubernetes API client QPS
## @param config.kubeBurst Kubernetes API client burst
## @param config.metricsNamePrefix Prefix for Prometheus metrics names (must match regex: ^[a-zA-Z][a-zA-Z0-9_:]*_$). Must end with trailing underscore.
## @param config.route.routes [array] Array containing event route configuration
## @param config.receivers [array] Array containing event receivers
config:
  logLevel: debug
  logFormat: pretty
  maxEventAgeSeconds: 30
  kubeQPS: 100
  kubeBurst: 500
  metricsNamePrefix: ""
  route:
    routes:
      - match:
          - receiver: "dump"
     
  receivers:
    - name: "dump"
      file:
        path: "/dev/stdout"

## @param rbac.rules [array] List of rules for the cluster role
rbac:
  rules:
    - apiGroups: ["*"]
      resources: ["*"]
      verbs: ["get", "watch", "list"]
    - apiGroups: ["coordination.k8s.io"]
      resources: ["leases"]
      verbs: ["*"]

## SecurityContext holds pod-level security attributes and common container settings.
## @param podSecurityContext.enabled Enable pod security context
## @param podSecurityContext.runAsNonRoot Set pod's Security Context runAsNonRoot
## @param podSecurityContext.seccompProfile.type Set pod's Security Context seccompProfile.type
## @param containerSecurityContext.enabled Enabled containers' Security Context
## @param containerSecurityContext.runAsUser Set containers' Security Context runAsUser
## @param containerSecurityContext.runAsGroup Set containers' Security Context runAsGroup
## @param containerSecurityContext.runAsNonRoot Set container's Security Context runAsNonRoot
## @param containerSecurityContext.privileged Set container's Security Context privileged
## @param containerSecurityContext.readOnlyRootFilesystem Set container's Security Context readOnlyRootFilesystem
## @param containerSecurityContext.allowPrivilegeEscalation Set container's Security Context allowPrivilegeEscalation
## @param containerSecurityContext.capabilities.drop List of capabilities to be dropped
securityContext:
  podSecurityContext:
    enabled: true
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    enabled: true
    runAsUser: 1001
    runAsGroup: 1001
    runAsNonRoot: true
    privileged: false
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop: ["ALL"]

## @param prometheus.enabled Whether to enable Prometheus scraping annotations
## @param prometheus.scrape Whether Prometheus should scrape this pod
## @param prometheus.port Port where metrics are exposed
## @param prometheus.path Path to the metrics endpoint
## @param metrics.service.annotations [object] Annotations for enabling prometheus to access the metrics endpoints
prometheus:
  enabled: true
  scrape: true
  port: 2112
  path: "/metrics"

## @param podAnnotations Pod annotations
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}

## Configure extra options for Kubernetes event exporter container's liveness, readiness and startup probes
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
## @param livenessProbe.enabled Enable livenessProbe on Kubernetes event exporter container
## @param livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
## @param livenessProbe.periodSeconds Period seconds for livenessProbe
## @param livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
## @param livenessProbe.failureThreshold Failure threshold for livenessProbe
## @param livenessProbe.successThreshold Success threshold for livenessProbe
livenessProbe:
  enabled: true
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 2
  failureThreshold: 5
  successThreshold: 1

## @param readinessProbe.enabled Enable readinessProbe on Kubernetes event exporter container
## @param readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe
## @param readinessProbe.periodSeconds Period seconds for readinessProbe
## @param readinessProbe.timeoutSeconds Timeout seconds for readinessProbe
## @param readinessProbe.failureThreshold Failure threshold for readinessProbe
## @param readinessProbe.successThreshold Success threshold for readinessProbe
readinessProbe:
  enabled: true
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 2
  failureThreshold: 1
  successThreshold: 1

## @param startupProbe.enabled Enable startupProbe on Kubernetes event exporter container
## @param startupProbe.initialDelaySeconds Initial delay seconds for startupProbe
## @param startupProbe.periodSeconds Period seconds for startupProbe
## @param startupProbe.timeoutSeconds Timeout seconds for startupProbe
## @param startupProbe.failureThreshold Failure threshold for startupProbe
## @param startupProbe.successThreshold Success threshold for startupProbe
startupProbe:
  enabled: false
  initialDelaySeconds: 40
  periodSeconds: 10
  timeoutSeconds: 15
  failureThreshold: 15
  successThreshold: 1

## Pod disruption budget
## @param pdb.create Create a pdb
## @param pdb.minAvailable Minimum number / percentage of pods that should remain scheduled
## @param pdb.maxUnavailable Maximum number / percentage of pods that may be made unavailable
pdb:
  create: false
  minAvailable: ""
  maxUnavailable: ""

## @param affinity Affinity for pod assignment
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
## Note: podAffinityPreset, podAntiAffinityPreset, and  nodeAffinityPreset will be ignored when it's set
affinity: {}

## @param tolerations Tolerations for pod assignment
## Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []
