apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kubernetes-event-exporter.fullname" . }}-cfg
  namespace: {{ include "kubernetes-event-exporter.namespace" . }}
  labels:
    {{- include "kubernetes-event-exporter.labels" . | nindent 4 }}
data:
  config.yaml: |
    {{- if .Values.config.logLevel }}
    logLevel: {{ .Values.config.logLevel }}
    {{- end }}
    {{- if .Values.config.logFormat }}
    logFormat: {{ .Values.config.logFormat }}
    {{- end }}
    {{- if .Values.config.maxEventAgeSeconds }}
    maxEventAgeSeconds: {{ .Values.config.maxEventAgeSeconds }}
    {{- end }}
    {{- if .Values.config.kubeQPS }}
    kubeQPS: {{ .Values.config.kubeQPS }}
    {{- end }}
    {{- if .Values.config.kubeBurst }}
    kubeBurst: {{ .Values.config.kubeBurst }}
    {{- end }}
    {{- if .Values.config.metricsNamePrefix }}
    metricsNamePrefix: {{ .Values.config.metricsNamePrefix }}
    {{- end }}
    {{- if .Values.config.clusterName }}
    clusterName: {{ .Values.config.clusterName }}
    {{- end }}
    {{- if .Values.config.namespace }}
    namespace: {{ .Values.config.namespace }}
    {{- end }}
    route:
      routes:
        {{- toYaml .Values.config.route.routes | nindent 8 }}
    receivers:
      {{- toYaml .Values.config.receivers | nindent 6 }}
